* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.nav-bar {
    display: flex; 
    flex-direction: row; 
    gap: 20px; 
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    background-color:#2c3e50;
    color: #ffd54f;
    border-bottom: 5px solid #ffd54f;
    width: 100%;
}

.nav-bar a {
    font-weight: bold;
    text-decoration: none; 
    padding: 15px; 
}


.nav-bar a:hover {
    background-color: #80ced6;
    color: white;
}

/*

nav {
    border-bottom: 2px solid grey;
    height: 60px; 
    text-align: right;
    padding: 15px; 
    position: fixed;
    top: 0; 
    width: 100%;
    background-color:  #2c3e50;
}

nav a {
    font-weight: bold; 
    text-decoration: none;
    height: 100%;
    padding: 20px; 
    color: #ffd54f;
}
*/




#home-section {
    height: auto; 
    background-color: #FFF5DC;
    color: #2c3e50;
}

.personal-image {
    max-width: 40%; 
    height: auto; 
}

#about-me-section {
    min-height: 100vh;
    background-color: #fff8e1;
    color: #3e2723;
    padding-bottom: 50px;
}

.about-me-paragraph {
   /* style={{fontSize:"18px", lineHeight: "2", fontFamily: "serif, system-ui", whiteSpace: "pre"}}*/
   font-size: 18px;
   line-height: 1.5;
   font-family: serif, system-ui;
   text-wrap: wrap;
   
}




#resume-section {
    background-color: #fffdd0; 
    color: #3c3c3c; 
    /*Accent: Sage Green (#9dc183) for emphasis*/
}

.resumeSectionsHeader {
    font-size: 25px; 
}

.resumeDates {
    font-weight: bold;
}


#blogs-section {
    min-height: 100vh;
    background-color: #d0d0c2; 
    color: #3c3c3c; 
    /*Accent: Sage Green (#9dc183) for emphasis*/
}

.post-link {
    color: white; 
    text-decoration: none;
    font-weight: bold;
}

.post-link:hover {
    color: blue;
}



#contact-me-section {
    height: 100vh; 
    background-color: #e6f7ff; 
    color: #2c3e50;
    /*Accent: Soft Coral (#ff6f61) for buttons or highlights*/
}
.responsive-image {
    width: 100%;          /* Ensures the image fills the width of the container */
    height: 500px;       /* Fixed height */
    object-fit: cover;   /* Ensures the image covers the area without stretching */
}
