* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.navbar {
    background-color:#2c3e50;
    border-bottom: 5px solid #ffd54f;
}

.nav-link {
    color: #ffd54f;
}

.navbar-toggler {
    background-color: #ffd54f;
}

.nav-link:hover {
    background-color: #80ced6;
    color: white;
}

.nav-bar a {
    border: 2px solid red; 
    padding: 10px; 
    font-weight: bold;
    text-decoration: none;
    height: 100%; 
}


.nav-bar a:hover {
    background-color: #80ced6;
    color: white;
}

/*

nav {
    border-bottom: 2px solid grey;
    height: 60px; 
    text-align: right;
    padding: 15px; 
    position: fixed;
    top: 0; 
    width: 100%;
    background-color:  #2c3e50;
}

nav a {
    font-weight: bold; 
    text-decoration: none;
    height: 100%;
    padding: 20px; 
    color: #ffd54f;
}
*/




#home-section {
    background-color: #FFF5DC;
    color: #2c3e50;
}

@media only screen and (max-width: 950px)
{
    .custom-home{
        display: flex; 
        flex-direction: column;
    }

    .custom-list-wrapper {
        font-size: 3.0vw; 
    }

    #home-info li {
        margin-right: 0.1vw;
        max-width: 100%; 
    }

}


.personal-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 800px; 
    max-height: 100vh;
}



#about-me-section {
    min-height: 100vh;
    background-color: #fff8e1;
    color: #3e2723;
    padding-bottom: 50px;
}

.about-me-paragraph {
   /* style={{fontSize:"18px", lineHeight: "2", fontFamily: "serif, system-ui", whiteSpace: "pre"}}*/
   font-size: 18px;
   line-height: 1.5;
   font-family: Arial, Helvetica, sans-serif;
   text-wrap: wrap;   
}




#resume-section {
    background-color: #fffdd0; 
    color: #3c3c3c; 
    /*Accent: Sage Green (#9dc183) for emphasis*/
}

.resumeSectionsHeader {
    font-size: 25px; 
}

.resumeDates {
    font-weight: bold;
}


#blogs-section {
    min-height: 100vh;
    background-color: #d0d0c2; 
    color: #3c3c3c; 
    /*Accent: Sage Green (#9dc183) for emphasis*/
}

.responsive-image {
    width: 100%; /* Make the image take the full width of the parent */
    height: auto; /* Maintain the aspect ratio */
    max-width: 600px; /* Limit the maximum width */
    max-height: 400px; /* Limit the maximum height */
    object-fit: cover; /* Ensure the image covers the entire area */
}



.post-link {
    color: white; 
    text-decoration: none;
    font-weight: bold;
}

.post-link:hover {
    color: blue;
}



#contact-me-section {
    height: 100vh; 
    background-color: #e6f7ff; 
    color: #2c3e50;
    /*Accent: Soft Coral (#ff6f61) for buttons or highlights*/
}
